html {
    scroll-behavior: smooth;
}
nav ul a {
    position: relative;
}

nav ul a:after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #1e1e1e;
    width:0%;
    bottom: 12%;
    left: 0;
    transition: width 0.5s;
}

nav ul a:hover:after {
    width: 100%;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border-radius: 50%;
    background-color: #dadada;
    border: none;
}

.navbar-after-scroll {
    background-color: #171717;
}

.field{
    position: relative;
}
.MassageHelp{
    position: absolute;
    bottom: -54%;
}
.form-container {
    max-width: 400px; /* Smaller width */
    margin: 50px auto;
}

.form-group {
    margin-bottom: 20px; /* Increased spacing between inputs */
}